@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.img-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content {
    height: 585px;
    width: 1113px;
    display: flex;
    flex-direction: column;
}

.main-top {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.main-top .main-top-left {
    height: 100%;
    width: 100%;
}

.main-top .main-top-left h1 {
    color: var(--very-dark-magenta);
    font-size: 50px;
    width: 60%;
}

.main-top .main-top-left p {
    color: var(--very-dark-magenta);
    margin-top: 1.7rem;
    font-size: 18px;
    width: 75%;
    line-height: 25px;
}

.main-top .main-top-right {
    margin-top: 1.5rem;
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.main-top-right .rate {
    background-color: var(--light-grayish-magenta);
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    width: 80%;
    position: relative;
}

.main-top-right .rate1 {
    position: absolute;
    top: 0;
    left: 0;
}

.main-top-right .rate2 {
    margin: 0 auto 58px auto;
}

.main-top-right .rate3 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-top .main-top-right .rate .stars {
    margin-left: 2rem;
    display: flex;
    gap: 0.5rem;
}

.main-top .main-top-right .rate .rate-coment span {
    color: var(--very-dark-magenta);
    font-weight: 700;
}

.main-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.main-bottom .card {
    background-color: var(--very-dark-magenta);
    width: 350px;
    height: 220px;
    border-radius: 0.5rem;
    padding: 2rem;
}

.main-bottom .card:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.main-bottom .card:nth-child(2) {
    margin: 0 auto;
}

.main-bottom .card:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-bottom .card .card-top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-bottom .card .card-top img{
    border-radius: 50%;
    width: 38px;
}

.main-bottom .card .card-top .card-top-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-bottom .card .card-top .card-top-right .name {
    color: var(--white);
    font-weight: 700;
}

.main-bottom .card .card-top .card-top-right .verified {
    color: var(--soft-pink);
    margin-top: 3px;
}

.main-bottom .card .card-bottom {
    width: 100%;
    height: 90%;
    color: var(--white);
    display: flex;
    align-items: center;
    line-height: 20px;
}

@media (max-width: 1140px) {

    .content {
        position: relative;
    }

    .main-top-right .rate1 {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .main-top-right .rate2 {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
    }
    
    .main-top-right .rate3 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .main-bottom {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-top {
        position: absolute;
        top: 0;
        left: 0;
    }

    .main-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        gap: 1rem;
    }

    .main-bottom .card {
        width: 80%;
    }

    .main-bottom .card:nth-child(1) {
        position: relative;
    }
    
    .main-bottom .card:nth-child(2) {
        position: relative;
    }
    
    .main-bottom .card:nth-child(3) {
        position: relative;
    }

    .main-top .main-top-left {
        padding-left: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-top .main-top-left h1 {
        width: 100%;
    }
    
    .main-top .main-top-left p {
        width: 100%;
    }

    .main-top .main-top-right {
        height: 80%;
    }
    
    .main-top-right .rate2 {
        margin: 0  0 65px 0;
    }
}

@media (max-width: 1070px) {

    .main-top {
        flex-direction: column;
    }
}